version: '3.8'

services:
  app:
    build:
      context: .docker/node
    env_file:
      - .env.${APP_ENV:-nothing}
    volumes:
      - .:/app
    depends_on:
      - mysql
      - pgsql

  mysql:
    build:
      context: .docker/mysql
    env_file:
      - .env.${APP_ENV:-nothing}
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: true
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "${MYSQL_ADMIN_PORT:-3306}:3306"

  pgsql:
    build:
      context: .docker/pgsql
    env_file:
      - .env.${APP_ENV:-nothing}
    volumes:
      - pgsql_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_ADMIN_PORT:-5432}:5432"

volumes:
  mysql_data:
    name: mysql_data_${APP_ENV:-dev}
  pgsql_data:
    name: pgsql_data_${APP_ENV:-dev}
