version: '3.8'

services:
  app:
    build:
      context: .docker/node
    env_file:
      - .env.${APP_ENV:-dev}
    volumes:
      - .:/app
    depends_on:
      - mysql
      - pgsql
      - sftp

  mysql:
    build:
      context: .docker/mysql
    env_file:
      - .env.${APP_ENV:-dev}
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: true
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "${MYSQL_ADMIN_PORT:-3306}:3306"

  pgsql:
    build:
      context: .docker/pgsql
    env_file:
      - .env.${APP_ENV:-dev}
    volumes:
      - pgsql_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_ADMIN_PORT:-5432}:5432"

  sftp:
    build:
      context: .docker/sftp
      args:
        SFTP_USER: ${SFTP_USER}
    env_file:
      - .env.${APP_ENV:-dev}
    environment:
      SFTP_USERS: "${SFTP_USER}:${SFTP_PASSWORD}:1001:1001:upload"
    ports:
      - "${SFTP_ADMIN_PORT:-2222}:${SFTP_PORT:-22}"
    volumes:
      - "sftp_data:/home/${SFTP_USER}/upload"

volumes:
  mysql_data:
    name: mysql_data_${APP_ENV:-dev}
  pgsql_data:
    name: pgsql_data_${APP_ENV:-dev}
  sftp_data:
    name: sftp_data_${APP_ENV:-dev}
